.bike-card {
  background: #0d0a2b;
  border-radius: 18px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  border-radius: 20px;
  border: 1px solid #1a164047;
}

.bike-card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 15px 30px rgba(4, 0, 255, 0.076);
}

/* IMAGE */
.bike-image-wrapper {
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
  background: #1a1640;
    overflow: hidden;
  border-radius: 18px ;
}

.bike-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
  z-index: 1; 
   position: relative;
}


.bike-card:hover .bike-image {
  transform: scale(1.08);
}

/* INFO */
.bike-info {
  padding: 22px;
}

.bike-title {
  font-size: 1.4rem;
  font-weight: 800;
  margin-bottom: 8px;
  color: white;
}

.bike-price {
  color: #ff6600;
  font-size: 1.3rem;
  font-weight: 800;
  margin-bottom: 16px;
}

/* STATUS BADGE */
.status-badge {
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 700;
  color: white;
  backdrop-filter: blur(4px);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  z-index: 5
}

/* AVAILABLE = ORANGE */
.status-badge.available {
  background: rgba(255, 190, 147, 0.9);
  color: #070338;
}

/* SOLD = RED */
.status-badge.sold {
  background: rgba(151, 151, 151, 0.85);
    color: #070338;

}


/* BUTTON */
.btn-view {
  display: inline-block;
  padding: 10px 18px;
  border-radius: 10px;
  background: #ff6600;
  color: #070338;
  font-weight: 700;
  text-decoration: none;
  transition: background 0.2s ease;
  font-size: 1rem;
}

.btn-view:hover {
  background: #ff7f2a;
}