
body {
  margin: 0;
  background: #f5f5f5;
  color: #070338;
}

main {
  max-width: 1100px;
  margin: 0 auto;

}

section {
  background: white;
  padding: 1.5rem;
  border-radius: 6px;
}

h1 {
  margin-top: 0;
}
